* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    color: #F0F8FF;
  }
  
  window#waybar {
    background: #1d2021;
  }
  
  /* Workspace Buttons */
  #workspaces button label{
    color: #ffffff;
    padding: 0 10px;
  }
  #workspaces button.active label {
    color: #ffffff;
  }
  #workspaces button {
    border: 9
  }
  #workspaces button.active {
    background: #0E3386;
  }
  
  #clock, #battery, #pulseaudio, #tray, #language, #network, #cpu, #memory {
    margin: 0 3px;
  }