* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
    color: #F0F8FF;
  }
  
  window#waybar {
    background: #1d2021;
  }
  
  /* Workspace Buttons */
  #workspaces button label{
    color: #008080;
    padding: 0 10px;
    border: 9px;
  }
  #workspaces button.active label {
    color: #005A9C;
  }
  #workspaces button.active {
    background: #0E3386;
  }
  
  #clock, #battery, #pulseaudio, #tray, #language {
    padding: 0 10px;
    margin: 0 10px;
  }
  
  #language {
    margin: 0;
    color: #4169E1;
    border-bottom: 5px solid #4169E1;
  }
  
  #pulseaudio {
    margin: 0;
    color: #0000FF;
    border-bottom: 5px solid #0000FF;
  }
  
  #pulseaudio.muted {
    padding: 0 20px;
    color: #0000CD;
    border-bottom: 5px solid #0000CD;
  }
  
  #battery {
    margin: 0;
    color: #00008B;
    border-bottom: 5px solid #00008B;
  }
  
  #clock {
    margin: 0;
    color: #000080;
    border-bottom: 5px solid #000080;
  }
  
  #tray {
    margin: 0;
    color: #191970;
    border-bottom: 5px solid #191970;
  }